OPENROUTER_API_KEY=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
OPENAI_API_KEY=
ANTHROPIC_API_KEY=
XAI_API_KEY=

OPENROUTER_MODEL=stepfun/step-3.5-flash:free
OPENAI_MODEL=
ANTHROPIC_MODEL=
XAI_MODEL=
